<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.cart-mapper">
  <!-- 장바구니  
        cart_no     NOT NULL NUMBER       
		**GNO              NUMBER       
		**TYPE             NUMBER       
		**ID               VARCHAR2(20) 
		**ACCOUNT          NUMBER       
		**PRICE            NUMBER       
		ISBUY            CHAR(1) ==> 'n'
  -->
  <insert id="cartInsert" parameterType="CartVO">
    INSERT INTO cart VALUES(
     c_cart_no_seq.nextval,#{gno},#{id},#{account},#{price},'n',SYSDATE
    )
  </insert>
  <!-- 장바구니 목록 : mypage 
    @Results()
  -->
  <resultMap type="com.sist.vo.CartVO" id="cartMap">
    <result property="gvo.title" column="title"/>
    <!-- 
        while(rs.next())
        {
           CardVO vo=new CartVO();
           vo.settitle(rs.getString(1)) = 오류발생
           vo.getGvo().settitle()
        }
     -->
     <result property="gvo.poster" column="poster"/>
  </resultMap>
  <select id="cartListData" resultMap="cartMap" parameterType="string">
    SELECT cart_no,title,poster,pc.price as price,account
    FROM cart pc,goods g
    WHERE id=#{id} AND isbuy='n'
    AND pc.gno=g.mgno
  </select>
  <select id="cartGetGnoCount" resultType="int" parameterType="hashmap">
   SELECT COUNT(*) FROM cart
   WHERE gno=#{gno} AND id=#{id}
  </select>
  <select id="cartGetGno" resultType="int" parameterType="hashmap">
   SELECT gno FROM cart
   WHERE gno=#{gno} AND id=#{id}
  </select>
  <update id="cartGnoUpdate" parameterType="hashmap">
    UPDATE cart SET 
    account=account+#{account}
    WHERE cart_no=#{cart_no}
  </update>
  <!-- 구매 -->
  <insert id="buyInsert" parameterType="CartVO">
    INSERT INTO cart VALUES(
     c_cart_no_seq.nextval,#{gno},#{id},#{account},#{price},'y',SYSDATE
    )
  </insert>
  <!-- 구매목록 : mypage-->
  <select id="buyListData" resultMap="cartMap" parameterType="string">
    SELECT cart_no,title,poster,account,pc.price as price
    FROM cart pc,goods g
    WHERE id=#{id} AND isbuy='y'
    AND pc.gno=g.mgno
  </select>
  <select id="buyTotalPrice" resultType="int" parameterType="string">
    SELECT SUM(price*account) FROM cart
    WHERE id=#{id} AND isbuy='y'
  </select>
  <update id="cartBuyUpdate" parameterType="int">
   UPDATE cart SET 
   isbuy='y'
   WHERE cart_no=#{cart_no}
  </update>
  <!-- 장바구니 취소 -->
  <delete id="cartCancel" parameterType="int">
   DELETE FROM cart
   WHERE cart_no=#{cart_no}
  </delete>
</mapper>