<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.dress-mapper">
  <!-- 드레스 목록 -->
  <select id="dressListData" resultType="DressVO" parameterType="HashMap">
	SELECT d_no, d_image, d_subject, d_price, num
	FROM (SELECT d_no, d_image, d_subject, d_price, rownum as num
	FROM (SELECT d_no, d_image, d_subject, d_price
	FROM dress ORDER BY d_no ASC))
	WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="dressTotalPage" resultType="int" parameterType="HashMap">
  	SELECT CEIL(COUNT(*)/12.0) 
   	FROM dress
  </select>
  <select id="dressDetailData" parameterType="HashMap">
    SELECT * 
    FROM dress
    WHERE d_no = #{d_no}
  </select>
  
  <select id="suitListData" resultType="SuitVO" parameterType="HashMap">
  	SELECT su_no, su_image, su_subject, su_price, num
  	FROM (SELECT su_no, su_image, su_subject, su_price, rownum as num
  	FROM (SELECT su_no, su_image, su_subject, su_price
  	FROM suit ORDER BY su_no ASC))
  	WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="suitTotalPage" resultType="int" parameterType="HashMap">
  	SELECT CEIL(COUNT(*)/12.0)
  	FROM suit
  </select>
  <select id="suitDetailData" parameterType="HashMap"> 
    SELECT * 
    FROM suit 
    WHERE su_no=#{su_no}
  </select>
  
</mapper>