<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
	<select id="memberIdCheck" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM member WHERE id=#{id}
	</select>
	<insert id="memberInsert" parameterType="MemberVO">
		INSERT INTO member VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{post}, #{address1}, #{address2}, #{gender}, #{weddingday}, 'n', SYSDATE)
	</insert>
	<select id="memberLoginData" resultType="MemberVO" parameterType="string">
		SELECT * FROM member WHERE id=#{id}
	</select>
 	<select id="memberUpdateData" resultType="MemberVO" parameterType="string">
 		SELECT id,name,phone,email,post,address1,address2,gender,weddingday
 		FROM member
 		WHERE id=#{id}
 	</select>
 	<select id="memberIdFindCount" resultType="int" parameterType="MemberVO">
 		SELECT COUNT(*) FROM member WHERE name=#{name} AND email=#{email}
 	</select>
 	<select id="memberIdFindData" resultType="string" parameterType="MemberVO">
 		SELECT RPAD(SUBSTR(id,1,2),LENGTH(id),'*') FROM member
 		WHERE name=#{name} AND email=#{email}
 	</select>
</mapper>