<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.qna-mapper">
<!-- public class QnaVO {
	private int qna_no,cate,tab,group_id;
	private String msg,dbday,id;
	private Date regdate;
}
 -->
 	<insert id="qnaUserInsert" parameterType="QnaVO">
 		INSERT INTO qna VALUES((SELECT NVL(MAX(qna_no)+1,1) FROM qna),
 		 #{msg},SYSDATE,#{cate},(SELECT NVL(MAX(group_id)+1,1) FROM qna),#{tab},#{id},#{pno},#{pwd}
 		)
 	</insert>
 	<resultMap type="com.sist.vo.QnaVO" id="QnaMap">
		<result property="mvo.name" column="name"/>
	</resultMap>
	<!-- 목록 -->
 	<select id="qnaUserListData" resultMap="QnaMap" parameterType="hashmap">
 		SELECT qna_no,msg,TO_CHAR(regdate,'YYYY-MM-DD:HH24:MI:SS') as dbday,cate,group_id,tab,name,id,num
 		FROM (SELECT qna_no,msg,regdate,cate,group_id,tab,name,id,rownum as num
 		FROM (SELECT qna_no,msg,qna.regdate as regdate,cate,group_id,tab,member.name as name,qna.id as id
 		FROM qna,member 
 		WHERE qna.id=member.id
 		AND tab=#{tab}
 		AND pno=#{pno}
 		AND cate=#{cate}
 		ORDER BY group_id DESC))
 		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	<select id="qnaAdminData" resultMap="QnaMap" parameterType="hashmap">
 	   SELECT qna_no,msg,TO_CHAR(qna.regdate,'YYYY-MM-DD:HH24:MI:SS') as dbday,cate,group_id,tab,member.name as name,qna.id as id
 	    FROM qna,member
 		WHERE qna.id=member.id
 		AND qna.group_id=#{group_id}
 		AND tab=#{tab}
 	</select>
 	<select id="qnaTotalPage" resultType="int" parameterType="hashmap">
 		SELECT MAX(group_id) FROM qna 
 		WHERE cate=#{cate}
 		AND pno=#{pno}
 	</select>
 	<!-- 비번확인 -->
 	<select id="passwordData" resultType="String" parameterType="int">
 		SELECT pwd FROM qna
 		WHERE qna_no=#{qna_no}
 	</select>
 	<!-- 수정 -->
 	<update id="qnaUpdate" parameterType="QnaVO">
 		UPDATE qna SET
 		msg=#{msg} , pwd=#{pwd}
 		WHERE qna_no=#{qna_no}
 	</update>
 	<!-- 삭제 -->
 	<delete id="qnaDelete" parameterType="int">
 		DELETE FROM qna
 		WHERE group_id=(SELECT group_id FROM qna WHERE qna_no=#{qna_no})
 	</delete>
</mapper>