<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.scrap-mapper">
	<insert id="wishInsert" parameterType="java.util.Map">
		INSERT INTO wish_list VALUES(
			(SELECT NVL(MAX(wno)+1,1) FROM wish_list),
			#{cno},#{cate},#{id},SYSDATE
		)
	</insert>
    <select id="wishCheck" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM wish_list
        WHERE cno=#{cno} AND cate=#{cate} AND id=#{id}
    </select>
	
	<update id="hallWishCountIncrement" parameterType="java.util.Map">
		UPDATE hall SET
		wishcount=(SELECT COUNT(*) FROM wish_list WHERE cate=#{cate} AND cno=#{cno})
		WHERE hno=#{cno}
	</update>
	
</mapper>