<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.scrap-mapper">
	<select id="wishGetWnoCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(*) FROM wish_list
		WHERE cno=#{cno} AND cate=#{cate}
	</select>
	<insert id="wishInsert" parameterType="java.util.Map">
		INSERT INTO wish_list VALUES(
			(SELECT NVL(MAX(wno)+1,1) FROM wish_list),
			#{cno},#{cate},#{id},SYSDATE
		)
	</insert>
    <select id="wishCheck" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM wish_list
        WHERE cno=#{cno} AND cate=#{cate} AND id=#{id}
    </select>
	
	<update id="hallWishCountIncrement" parameterType="java.util.Map">
		UPDATE hall SET
		wishcount=(SELECT COUNT(*) FROM wish_list WHERE cate=#{cate} AND cno=#{cno})
		WHERE hno=#{cno}
	</update>
	<update id="studioWishCountIncrement" parameterType="hashmap">
		UPDATE studio SET
		wish=(SELECT COUNT(*) FROM wish_list WHERE cate=#{cate} AND cno=#{cno})
		WHERE sno=#{cno}
	</update>
	<resultMap type="com.sist.vo.WishVO" id="wishMap">
		<result property="hvo.hno" column="hno"/>
		<result property="hvo.name" column="name"/>
		<result property="hvo.image" column="image"/>
	</resultMap>
	<select id="hallWishMypageData" resultMap="wishMap" parameterType="string">
		SELECT wno,cno,regdate,h.hno,h.name,h.image
		FROM wish_list w, hall h
		WHERE w.cno=h.hno
		AND id=#{id}
		ORDER BY wno DESC
	</select>
	<delete id="wishCancel" parameterType="int">
		DELETE FROM wish_list
		WHERE wno=#{wno}
	</delete>
</mapper>