@charset "UTF-8";

#find{
    background:#EFF3EA;
    font-family: 'SCoreDream', sans-serif;
    padding:150px 0 100px;
}
#find .container{
	padding:0 15%;
}

#find .find_tab{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    padding-top:80px;
}
#find .find_tab > li{
	display:block;
    width:120px;
    height:40px;
    line-height:40px;
    border:1px solid #303030;
    text-align:center;
    cursor:pointer;
}
#find .find_tab > li.active{
    background:#303A1F;
    color:#dcdcdc;
}
#find .find_list{
	display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:40px;
    padding-top:50px;
    margin-bottom:50px;
}
#find .find_list > li{
	/*display:none;*/
}
#find .find_list li.no_list{
	grid-column: 1/5;
	text-align:center;
	padding-top:50px;
	line-height:2.5em;
	font-weight:500;
}
#find .find_list li.no_list span{
	font-size:30px;
}
#find .product_name{
    font-weight:500;
    margin-bottom:5px;
}
#find .pro_link{
    display:block;
}
#find img{
	width:100%;
	height:300px;
    object-fit:cover;
	object-position:center;
    margin-bottom:10px;
    opacity:.8;
    transition:.3s;
}
#find .pro_link:hover img{
    opacity:1;
}

/* --------------- READ MORE ----------------- */
#find .readmore{
	width:100%;
	height:40px;
	line-height:40px;
	background:#303A1F;
	color:#dcdcdc;
	text-transform:uppercase;
	cursor:pointer;
}
