@charset "UTF-8";
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .mycontainer {
            display: flex;
            height: 100vh;
            width: 100vw;
            padding-top: 80px;
        }
        .mypage_menu {
            width: 250px; /* 메뉴의 너비 설정 */
            background-color: #f4f4f4;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            
        }
        .mycontent {
            flex: 1; /* 나머지 공간을 차지하도록 설정 */
            padding: 20px;
            padding-top: 80px;
        }

.mypage_menu ul {
    list-style-type: none; /* 리스트 스타일 없앰 */
    padding: 0; /* 패딩 제거 */
}

.mypage_menu ul li {
    padding: 8px; /* 패딩 설정 */
    margin-bottom: 4px; /* 아래쪽 마진 설정 */
    background: #EFF3EA; /* 호버 시 배경색 변경 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.mypage_menu ul li:hover {
    background: rgb(148, 186, 158);
}

.mypage_menu ul li a {
    text-decoration: none; /* 텍스트 장식 제거 */
    color: black; /* 텍스트 색상 설정 */
    display: block; /* 블록 레벨 요소로 설정 */
    font-size: 15px;
}

.sixth h1 { 
    position: relative;
    text-align: center;
    font-family: 'SCoreDream', sans-serif;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center; 
}

.sixth h1:before,
.sixth h1:after {
    content: '[';
    display: inline-block;
    position: relative;
    top: 1px;
    height: 100%;
    font-size: 1.25em;
    color: rgb(95, 146, 108);
    transition: all 0.5s ease;
}

.sixth h1:after { 
    content: ']'; 
}

.sixth h1:hover:before { 
    transform: translateX(-5px);
}

.sixth h1:hover:after { 
    transform: translateX(5px);
}
